

:root {
    --Rock: #869E31;
    --Ghost: #70559B;
    --Steel: #B7B9D0;
    --Water: #6493EB;
    --Grass: #74CB48;
    --Psychic: #FB5584;
    --Ice: #9AD6DF;
    --Dark: #75574C;
    --Fairy: #E69EAC;
    --Normal: #AAA67F;
    --Fighting: #C12239;
    --Flying: #A891EC;
    --Poison: #A43E9E;
    --Ground: #DEC16B;
    --Bug: #A78723;
    --Fire: #F57D31;
    --Electric: #F9CF30;
    --Dragon: #7037FF;

    --DrakGray: #212121;
    --MedGray: #666666;
    --LightGray: #E0E0E0;
    --White: #FFFFFF;
    --Background: #F7F7F7;
    font-family: Poppins;

}
  


.Cards{
    display: flex;
    flex-direction: column;
    border: 4px  solid#ffa500;
    border-radius: 50px;
    padding: 25px;

}

.Cards .Codigo {

    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
