

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    margin: 10px;
    padding: 20px 0px 0px 10px;
    font-family: 'Poppins', sans-serif;
    
}

.Order{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
  
}
.button{
    border: 1px solid #fff;
    color: #fff;
    height: 35px;
    background-color: transparent;
}

.pokeball{
    width: 30px;
    position: relative;
    
}

.circle{
    position: relative;
    width: 30px;
    height: 30px;
    background: linear-gradient(#ff3333,#f2f605);
    border-radius: 50%;
    animation: animate 0.9s linear infinite;
}

@keyframes animate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
    
}


.circle:after{
    content: '';
    position: absolute;
    top: 35px;
    right: 35px;
    bottom: 35px;
    right: 35px;
    border-radius: 50px;
    background-color: #fff;
}

.circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#ff3333,#f2f605);
    border-radius: 50%;
}

.circle span:nth-child(1){
    filter: blur(5px);
}
.circle span:nth-child(2){
    filter: blur(10px);
}
.circle span:nth-child(4){
    filter: blur(20px);
}
.circle span:nth-child(4){
    filter: blur(55px);
}
b{
    padding-left: 10px;
}